/* Chrome, Edge and Safari */
.chat-entries-wrapper::-webkit-scrollbar {
  height: 6px;
  width: 4px;
}
.chat-entries-wrapper::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #141419;
}
.chat-entries-wrapper::-webkit-scrollbar-track:hover {
  background-color: #141419;
}

.chat-entries-wrapper::-webkit-scrollbar-track:active {
  background-color: #141419;
}

.chat-entries-wrapper::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: white;
}

.chat-entries-wrapper:-webkit-scrollbar-thumb:hover {
  background-color: #ff5252;
}

.chat-entries-wrapper::-webkit-scrollbar-thumb:active {
  background-color: #b83b3b;
}

.chat {
  position: fixed;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  width: 20em;
  display: flex;
  flex-direction: column;
  user-select: none;
  .connected-users {
    margin: 0;
    padding: 1em;
    font-family: "Rubik", sans-serif;
    color: white;
    background-color: #141419;
    border-bottom: 2px solid #1a1c24;
    span {
      color: rgb(0, 236, 0);
    }
  }
  .chat-entries-wrapper {
    flex: 1 1 auto;
    box-sizing: border-box;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: white #1a1c24;
    padding: 0 0.8em 0 1em;
    display: flex;
    flex-direction: column-reverse;
    .chat-entry {
      color: rgb(211, 211, 211);
      margin: 0.4em 0;
      font-size: 0.9em;
      font-family: "Rubik", sans-serif;
      font-weight: 300;
      span {
        color: white;
        font-weight: 500;
      }
    }
  }
  .message-form {
    margin: 1em;
    padding: 0;
    background-color: #1a1c24;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    button{
      cursor: pointer;
      background-color: transparent;
      border: none;
      .fi{
        color: white;
        font-size: 1.5em;
        display: block;
        transform: translateY(3px);
      }
    }
    textarea {
      resize: none;
      background-color: transparent;
      border: none;
      -moz-appearance: textfield;
      border-radius: 5px;
      margin: 0;
      width: 100%;
      padding: .5em;
      color: white;
      font-family: "Rubik", sans-serif;
    }
    textarea:focus {
      outline: none;
    }
    /* Chrome, Safari, Edge, Opera */
    textarea::-webkit-outer-spin-button,
    textarea::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.is-open {
  background-color: transparent !important;
  clip-path: none !important;
  .fi {
    color: white !important;
  }
}

.open-chat {
  background-color: white;
  display: block;
  position: fixed;
  border: none;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  clip-path: circle(40%);
  .fi {
    font-size: 2em;
    display: block;
    transform: translateY(4px);
    margin: 0;
    color: #1a1c24;
  }
}

@media only screen and (max-width: 550px) {
  .chat {
    font-size: 14px;
    width: 100vw;
  }
  .open-chat {
    .fi-br-cross-small {
      font-size: 3em;
    }
  }
}
