@import "./variables";

.chat {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 3em;
  left: 0;
  margin: 0 0 0 2em;
  background-color: $light-bg;
  height: 90vh;
  width: 24em;
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 5;
  border-radius: 15px;
  .connected-users-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background: rgb(43,51,66);
  background: radial-gradient(ellipse at center top, rgba(43,51,66,1) 0%, rgba(33,37,49,1) 100%);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
    p:first-child{
      font-family: "Gabarito", sans-serif;
      font-size: 1.4em;
      font-weight: 600;
      color: white;
      margin: 0;
    }
    p:nth-child(2) {
      margin: 0;
      font-family: "Poppins", sans-serif;
      color: white;
      color: rgb(126, 236, 0);
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #96e600;
      .fi{
        display: inline-block;
        transform: translateY(2px);
        margin: 0 .2em 0 0;
      }
    }
  }
  .chat-entries-wrapper {
    flex: 1 1 auto;
    box-sizing: border-box;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: white #1a1c24;
    padding: 0 0.8em 0 1em;
    display: flex;
    flex-direction: column-reverse;
    .chat-entry {
      color: rgb(211, 211, 211);
      margin: 0.4em 0;
      font-size: 0.9em;
      font-family: "Rubik", sans-serif;
      font-weight: 300;
      span {
        color: white;
        font-weight: 500;
      }
    }
  }
  .message-form {
    margin: 1em;
    padding: 0;
    background-color: #1a1c24;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    .send-message-btn {
      cursor: pointer;
      background-color: transparent;
      border: none;
      .fi {
        color: white;
        font-size: 1.5em;
        display: block;
        transform: translateY(3px);
      }
    }
    textarea {
      resize: none;
      background-color: transparent;
      border: none;
      -moz-appearance: textfield;
      -webkit-appearance: textfield;
              appearance: textfield;
      border-radius: 5px;
      margin: 0;
      width: 100%;
      padding: 0.5em;
      color: white;
      font-family: "Rubik", sans-serif;
    }
    textarea:focus {
      outline: none;
    }
    /* Chrome, Safari, Edge, Opera */
    textarea::-webkit-outer-spin-button,
    textarea::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

@media only screen and (max-width: 550px) {
  .chat {
    font-size: 18px;
    width: 100%;
  }
  .open-chat {
    .fi-br-cross-small {
      font-size: 3em;
    }
  }
}
