.chat{
    position: fixed;
    background-color: #ff5252;
    button{
        position: fixed;
        bottom: 15px;
        left: 15px;
        background-color: transparent;
        border: none;
        padding: .5em 1em;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 0;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        color: #141419;
        font-size: 1em;
        border-radius: 50px;
        .fi{
            font-size: 1.5em;
            display: block;
            transform: translateY(4px);
            margin: 0 0 0 .3em;
        }
    }
}

.open{
    color: white !important;
}
