.control-panel-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 15px;
  width: 100%;
  .balance-wrapper{
    margin: 0 auto 0 0;
    h1 {
      font-family: "Gabarito", sans-serif;
      color: #ff5252;
      font-size: 1.8em;
      font-weight: 700;
      margin: 0;
    }
    .balance{
      margin: 0;
      color: white;
      font-size: .7em;
      font-family: "Poppins", sans-serif;
      span{
        font-size: 1.5em !important;
      }
    }
  }
  .side-pick-container {
    display: flex;
    align-items: center;
    height: 2.5em;
    .side-pick-wrapper {
      box-shadow:
      0px 2.1px 5.3px rgba(255, 0, 0, 0.077),
      0px 6.9px 17.9px rgba(255, 0, 0, 0.113),
      0px 31px 80px rgba(255, 0, 0, 0.19)
    ;
      color: #ff5252;
      background-color: #141419;
      border: 1px solid rgba(122, 122, 122, 0.616);
      width: fit-content;
      padding: 0 .8em;
      border-radius: 5px;
      align-items: center;
      margin: 0 0.5em 0 0;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      height: 100%;
      p {
        color: white;
        margin: 0;
        margin: 0 10px 0 0;
        font-weight: 300;
        font-size: 0.9em;
      }
      img {
        display: block;
        width: 1.8em;
        cursor: pointer;
        margin: 0 0.2em;
        filter: saturate(0%);
        transition: all 0.1s linear;
      }
      img:hover {
        transform: scale(1.05);
      }
      .selected-side {
        filter: saturate(100%);
        transform: scale(1.05);
      }
    }
    .submit-bet {
      box-shadow:
      0px 2.1px 5.3px rgba(255, 0, 0, 0.077),
      0px 6.9px 17.9px rgba(255, 0, 0, 0.113),
      0px 31px 80px rgba(255, 0, 0, 0.19)
    ;
      font-family: "Rubik", sans-serif;
      text-transform: uppercase;
      padding: 0.4em 0.8em;
      font-size: .9em;
      color: #ff5252;
      background-color: #141419;
      border: 1px solid #ff5252;
      font-weight: 500;
      border-radius: 5px;
      cursor: pointer;
      margin: 0 0.5em 0 0;
      display: block;
      height: 100%;
      box-sizing: border-box;
      transition: all .2s;
    }
    .submit-bet:hover{
      background-color: #ff5252;
      color: #141419;
    }
  }
  .bet-amount-container {
    display: flex;
    align-items: center;
    font-size: 1em;
    height: 2.5em;
    button {
      border: none;
      font-family: "Rubik", sans-serif;
      font-weight: 500;
      text-rendering: optimizeLegibility;
      letter-spacing: 1px;
      background-color: #ff5252;
      color: #141419;
      border-radius: 2px;
      margin: 0 0.3em;
      cursor: pointer;
      font-size: 0.8em;
      padding: 0.3em 0.6em;
      max-width: 100px;
    }
    button:hover{
      transform: translateY(-1px);
    }
    .amount-wrapper {
      box-shadow:
      0px 2.1px 5.3px rgba(255, 0, 0, 0.077),
      0px 6.9px 17.9px rgba(255, 0, 0, 0.113),
      0px 31px 80px rgba(255, 0, 0, 0.19)
    ;
    height: 100%;
    box-sizing: border-box;
      background-color: #141419;
      width: fit-content;
      padding: 0.4em 0.8em;
      border: 1px solid rgba(122, 122, 122, 0.616);
      border-radius: 5px;
      display: flex;
      align-items: center;
      margin: 0 0.5em 0 0;
      div{
        display: flex;
        align-items: center;
      }
      img {
        width: 1.4em;
        margin: 0 0.5em 0 0;
      }
      input {
        background-color: transparent;
        border: none;
        color:white;
        font-family: "Rubik", sans-serif;
        font-size: 1em;
        font-weight: 300;
        min-width: 100px;
      }
      input:focus {
        outline: none;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input[type="number"] {
        -moz-appearance: textfield;
        appearance: textfield;
      }
    }
    .controls-wrapper {
      height: 100%;
      box-sizing: border-box;
      background-color: #141419;
      width: fit-content;
      padding: 0.4em;
      border: 1px solid rgba(122, 122, 122, 0.616);
      border-radius: 5px;
      display: flex;
      align-items: center;
      margin: 0 0.5em 0 0;
      box-shadow:
      0px 2.1px 5.3px rgba(255, 0, 0, 0.077),
      0px 6.9px 17.9px rgba(255, 0, 0, 0.113),
      0px 31px 80px rgba(255, 0, 0, 0.19)
    ;
    }
  }
  .not-selected {
    border-color: rgb(122, 18, 0) !important;
    border-width: 2px !important;
  }
}

@media only screen and (max-width: 1100px) {
  .control-panel-container {
    font-size: 13px;
  }
}

@media only screen and (max-width: 1000px) {
  .control-panel-container {
    font-size: 12px;
  }
}

@media only screen and (max-width: 900px) {
  .control-panel-container {
    font-size: 16px;
    flex-direction: column;
    width: 100%;
    .balance-wrapper{
      margin: 0 0 .5em 0;
      background-color: #141419;
      padding: 1em;
      border-radius: 5px;
      text-align: center;
      border: 1px solid #ff5252;
      width: 100%;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      h1 {
        font-size: 1.8em;
      }
      .balance{
        text-align: left;
        span{
          display: block;
        }
      }
    }
    .side-pick-container {
      justify-content: space-between;
      width: 100%;
      .submit-bet{
        display: block;
        height: 100%;
        width: 100%;
        margin: 0;
      }
      .side-pick-wrapper{
        padding: 0;
        height: 100%;
        padding: 0 .5em;
        img{
          width: 1.8em;
        }
      }
    }
    .bet-amount-container {
      flex-direction: column;
      width: 100%;
      height: fit-content;
      button {
        flex: 1;
        padding: 0.8em 0.6em;
        font-weight: 600;
        font-size: .7em;
      }
      .amount-wrapper {
        width: 100%;
        margin: 0;
        box-sizing: content-box;
        height: fit-content;
        box-sizing: border-box;
        justify-content: space-between;
        padding: .4em .4em .4em .8em;
      }
      .controls-wrapper {
        width: 100%;
        justify-content: space-between;
        height: fit-content;
        margin: 0.5em 0;
        box-sizing: border-box;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .control-panel-container {
    font-size: 15px;
    .x2-btn,
    .half-btn {
      display: none;
    }
  }
}

@media only screen and (max-width: 320px) {
  .control-panel-container {
    font-size: 12px;
    .x2-btn,
    .half-btn {
      display: none;
    }
  }
}
