@import "./variables";

.control-panel-container {
  position: relative;
  background-color: $light-bg;
  background: radial-gradient(circle farthest-corner at 0% 0%, rgb(37, 29, 46) 0%, rgba(16,13,19,1) 100%);
  padding: 2em;
  border-radius: 15px;
  flex-wrap: nowrap;
  width: 400px;
  height: 100%;
  box-sizing: border-box;
  box-shadow:
  0px 0px 1.6px rgba(0, 0, 0, 0.055),
  0px 0px 3.6px rgba(0, 0, 0, 0.08),
  0px 0px 6.3px rgba(0, 0, 0, 0.099),
  0px 0px 10px rgba(0, 0, 0, 0.115),
  0px 0px 15.5px rgba(0, 0, 0, 0.131),
  0px 0px 24.1px rgba(0, 0, 0, 0.15),
  0px 0px 40px rgba(0, 0, 0, 0.175),
  0px 0px 80px rgba(0, 0, 0, 0.23)
;
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 3em 0;
    img{
      width: 200px;
    }
    div{
      display: inline-block;
      .fi{
        display: inline-block;
        color: $primary-color;
        background-color: $dark-bg;
        padding: .4em;
        padding-bottom: .2em;
        font-size: 1.3em;
        border-radius: 15px;
        cursor: pointer;
      }
      .fi:first-child{
        margin-right: .5em;
      }
    }
  }
  .control-panel-wrapper {
    width: 100%;
    .balance{
      text-transform: uppercase;
      font-family: "Gabarito",sans-serif;
      color: $primary-color;
      margin: 0 0 .5em 0;
      font-size: .9em;
      text-align: center;
    }
    .not-selected{
      border: 1px solid red !important;
    }
    .bet-amount-container {
      .bet-amount-wrapper {
        display: inline-block;
        background-color: $dark-bg;
        border-radius: 10px;
        display: flex;
        align-items: center;
        margin: 0 0 1em 0;
        border: 1px solid #21264a96;
        img {
          width: 1.6em;
          padding: .5em 1em;
        }
        input{
          background-color: transparent;
          color: white;
          border: none;
          font-family: "Gabarito";
          font-weight: 600;
          font-size: 1em;
          letter-spacing: 1px;
          box-sizing: border-box;
          border-left: 1px solid #21264a96;
          border-right: 1px solid #21264a96;
          padding: 0 1em;
          width: 100%;
        }
        input:focus{
          outline: none;
        }
        button{
          background-color: transparent;
          color: $primary-color;
          border: none;
          font-family: "Gabarito";
          font-weight: 600;
          font-size: .9em;
          cursor: pointer;
          letter-spacing: 1px;
          padding: .5em 1em;
        }
      }
      .controls-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 0 1em 0;
        button{
          color: $primary-color;
          font-family: "Gabarito";
          font-weight: 600;
          font-size: .9em;
          cursor: pointer;
          letter-spacing: 1px;
          padding: .7em 1.3em;
          background-color: $dark-bg;
          border-radius: 10px;
          border: 1px solid #21264a96;
        }
      }
      .submit-bet{
        color: $dark-bg;
        font-family: "Gabarito";
        font-weight: 600;
        font-size: .9em;
        cursor: pointer;
        letter-spacing: 1px;
        padding: .7em 1.3em;
        border-radius: 10px;
        text-transform: uppercase;
        width: 100%;
        border: none;
      }
    }
    .side-pick-container{
      .side-pick-wrapper{
        width: 100%;
        margin: 2em auto .7em;
        display: flex;
        justify-content: center;
        .side-pick-button{
            font-family: "Gabarito";
            font-weight: 600;
            font-size: .9em;
            cursor: pointer;
            letter-spacing: 1px;
            padding: .7em .5em;
            border-radius: 10px;
            text-transform: uppercase;
            width: 50%;
            box-sizing: border-box;
            margin: 0;
            border: 1px solid #21264a96;
        }
        .side-pick-button:first-child{
          margin-right: .5em;
        }
      }
    }
  }
}
