.App {
    box-sizing: border-box;
    height: 100%;
    font-family: "Gabarito", sans-serif;
    .game-container{
      display: flex;
      margin: 0;
      box-sizing: border-box;
      height: 100%;
      padding: 1em 0 1em 1em;
      background-color: #100d13;
      background: radial-gradient(circle farthest-corner at 10% 20%, rgba(16,13,19,1) 31%, rgb(31, 24, 37) 100%);
    }
  }
  
  @media only screen and (max-width: 768px) 
  {
    .App{
      .game-container{
        padding: 0;
      }
    }
  }

